# STM32 GCC build outputs
build/

# Compiler / linker artifacts
*.o
*.obj
*.a
*.d
*.su
*.elf
*.hex
*.bin
*.map
*.lst
*.i

# Logs and temporary files
*.log
*.tmp
*.bak
.mem_report_last_helloworld.json
models/
lancedb/

# OS-specific files
Thumbs.db
.DS_Store

demo/
project/
std_program_algorithms/
