---
# 基础代码风格
BasedOnStyle: LLVM

# 缩进与空格
IndentWidth: 4
UseTab: Never

# 换行规则
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never

# 对齐规则
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  PadOperators: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  PadOperators: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

# 指针与空格
PointerAlignment: Right

# 其他
MaxEmptyLinesToKeep: 2
SortIncludes: Never
